*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  height:100vh;
  width:100%;
  background-color: #b7cfff;
}

#root{
  height:100vh;
  width:100%;
  display:grid;
  place-items:center;
}

#keys,#display{
  display:inline-block;
}

#drum-machine{
  background-color:#152A52;
  display:flex;
  border-radius:20px;
  box-shadow: 2px -1px 5px 1px black inset , -1px 2px 5px 1px white inset;

}

#keys{
  height:350px;
  width:350px;
  margin:20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  border-radius:5px;
  font-family: tahoma;
  font-weight:800;
  font-size:20px;

}

#display{
  height:350px;
  width:200px;
  margin:20px 20px 20px 0;
  border-radius:5px;
  display: flex;
  align-items:center;
  justify-content:center;
  background-color: black;
  font-size: x-large;
  font-family: sans-serif ;
  color:white;
  border:2px solid #4C6DAD;

}

.drum-pad{
  height:90px;
  width:90px;
  border-radius:50%;
  display:grid;
  place-items:center;
  background-color: #4C6DAD;
  box-shadow: 0 0 10px 2px #FFFFFF, 0 0 5px 3px #3A7CFD, 3px 1px 15px 1px black inset;
  border:2px solid #5F8ADE;
}